extends layout

block content
  #popup-wrapper

  #home.home
    .home-item.bg-light
      #player-info.hidden Hello, 
        span#player-name
      #player-form
        input.input.light(
          type="text"
          name="username"
          id="username"
        )
        button#set-username.btn.light Set Username

    .home-item.bg-dark
      #game-choice
        button#create-new.btn.dark Create New Game
        div OR
        input.input.dark(
          type="text"
          name="lobby-code"
          id="lobby-code"
        )
        button#join-existing.btn.dark Join Existing Game
  
  #lobby.hidden
    .sidebar.bg-dark
      
      h5.sidebar-title Cards Against Humanity

      h5.sidebar-subtitle Lobby Code: 
        span#lobby-id
      
      .players
        h5.players-title Players
        ul#players-list.players-body
    
    .game-board
      .game-board-header
        .game-board-info
          #idle-timer.game-board-idle-timer.hidden
            span#seconds 30
          h5#round-number

        .game-board-controls
          button#start-game.btn.light.hidden Start Game
          button#leave-game.btn.light Leave Game
      
      #board.game-board-playing-area.bg-light
        .table-top
          .select-wrapper
            select.hidden#cards-being-played
            #game-board-select-cards-being-played.game-board-select.hidden
              .black-card-wrapper
                .black-card
                  #black-card-text.black-card-text
                  #black-card-pick.black-card-pick
                button#select-winner.btn.light.hidden Select Winner
                button#play-cards.btn.light.hidden Play Cards
        
        #hand.hand
          .select-wrapper
            select.hidden#cards-in-hand

  script(type="text/javascript", src="/socket.io/socket.io.js")
  script(type="text/javascript", src="/javascripts/libs/countdown.min.js")
  script(type="module", src="/javascripts/index.js")